.intro{
    background-color: rgba(0, 0, 0, .3);
    /*background-color: rgba(238, 246, 251, .3);*/
}


.coffee-title{
    color: white;
}
.coffee-title:hover{
    color: black;
    text-decoration: none;
}

.nav-list{
    color: white;
    font-family: 'Indie Flower', cursive;
    /*font-family: 'Caveat', cursive;*/
    font-size: 17px;
}

.nav-list:hover{
    color: black;
}

body{
    background-image: url("https://wallpaperaccess.com/full/5041874.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coffee-search{
    margin-top: 8em;
    margin-bottom: 7em;
    /*background-color: rgba(0, 0, 0, .3);*/

}

.coffee-list{
    /*background-color: rgba(255, 255, 255, .4);*/
    background-color: rgba(0, 0, 0, .3);
    /*height: auto;*/
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: -10px 0px 7px 0 rgba(0,0,0,0.6), 10px 0px 7px 0 rgba(0,0,0,0.6);



    margin-bottom: 10em;

    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
}

.second-form{
    background-color: rgba(0, 0, 0, .3);
    height: 400px;
    color: white;
    width: auto;
    /*margin-right: 0;*/
}

.coffee-new{
    margin-top: 6em;
}

hr{
    /*height: 1px;*/
    background-color: white;
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bolder;
}

h1, h2{
    font-family: 'Caveat', cursive;
}

.review{
    color: white;
    background-color: rgba(0, 0, 0, .3);
    margin-top: 8em;
}


@media screen and (max-width: 650px){

}




